/*
p- allet
c- omponent
*/
.remove-border-glow:focus{
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}


@media (min-width: 576px) {
  .c-w-s-80 { width:80px !important; }
  .c-h-s-80 { height:80px !important; }
}

@media (min-width: 768px) {
    .c-w-s-80 { width:80px !important; }
    .c-h-s-80 { height:80px !important; }


    .c-w-s-100 { width:100px !important; }
    .c-h-s-100 { height:100px !important; }

    .c-h-m-50{ height:70px; }
    .c-w-m-30{ width:30px; }

    .c-w-m-164{ width:164px; margin-top:-17px; }

    .c-l-h-2_1{ line-height: 2.2rem !important;}
}

@media (min-width: 992px) {
    .c-h-m-120{ height:120px; }
    .c-w-m-120{ width:120px; }
    .c-pdt-m-40 { padding-top:40px; }
    .c-pdt-m-35 { padding-top:35px; }
    .c-pdt-m-30 { padding-top:30px; }
    .c-pdt-m-25 { padding-top:25px; }
    .c-b-s-30-p-FFDC3A{ border:solid 30px #FFDC3A;}
    .c-b-p-FFDC3A{border-color:#FFDC3A;}
    .c-m-b-2{margin-bottom: 2rem !important;}
    .c-rm-b-r{border-radius:0px !important;}
}

@media (min-width: 1200px) { }

/*.p-b-c-FFDC3A{ border-color:#FFDC3A !important;}*/
.c-bg-FFDC3A{ background-color: #FFDC3A; }
.c-m-a{margin:auto;}
.c-p-bg-16181be6{background-color:#16181be6;}
body{
    /*font-family: 'Text Me One', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Source Code Pro', monospace;*/
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Abel', sans-serif;
}
.hidden{display:none !important;}

.c-b-s-0000002e{
    border: solid 1.5px #0000002e;
}
.c-b-s-faf9f98a{
    border: solid 1.5px #faf9f98a;
}

.c-bg-p-white{
    background-color:white;
}

.height-70{
    height:70px !important;
}