.idea/
static/images/logo.psd
static/images/
__pycache__/
static/res/images/3.psd
static/res/images/banner-01.psd
static/res/images/banner-02.psd
static/res/images/banner-03.psd
static/res/images/blazersketch1.psd