

.nav-custom-bg-color{
    /*background-color: #FFDC3A !important;*/
    /*background-color: #df2319 !important;*/
    background-color: white !important;
    /*background-color: #004056 !important;*/
    /*background-color: #1f2563 !important;*/
    /*background-color: transparent !important;*/
    /*background-color: #f6f1f187 !important;*/
    /*background-color: #1b1736 !important;*/
    /*background-color: #1b17369e !important;*/
}

#collapsibleNavbar li a{
    /*color: #df2319 !important;*/
    color: black !important;
    /*color: white !important;*/
    font-size: 15px;
    font-weight:bold !important;
}

#collapsibleNavbar li a:hover{
    /*background-color: #f67b1b;*/
    background-color: #faba00;
    color:white !important;
    -webkit-transition: background-color .65s ease-in;
    -moz-transition: background-color .65s ease-in;
    -o-transition: background-color .65s ease-in;
    transition: background-color .65s ease-in;
}

#collapsibleNavbar li a.active{
    /*color: #f00 !important;*/
    /*color: black !important;*/
    /*color: #1f2563 !important;*/
    /*background-color: #f67b1b;*/
    background-color: #faba00;
    color:white !important;
}