
{% extends 'template_base/ClientBase.html' %}
{% block page_title %} ABOUT US {% endblock %}
{% set active_page = "about" %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutuspage/about-us-page.css') }}">
{% endblock %}


{% block client_body %}
<div class="container-fluid aboutus-page-main py-5 pl-5">
    <div class="pl-5">
        <h1 style="margin-top:150px;font-weight:bolder;color: #ffffff;">About US</h1>
        <p style="color:#faba00; font-weight:bold !important;">
            <a href="{{ url_for('index') }}" style="color:#faba00; text-decoration: none;">Home</a> | <a href="#" style="color:#faba00; text-decoration: none;">About Us</a>
        </p>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h5 class="text-justify">
                " We are an Interior Design Firm that was set up in (2003) by Mr. Nikhil Shetty, who possesses over 18
                years of experience in the field. We are in the business of designing eloquent, elegant spaces. Be
                it home or workspaces, indoor or outdoor, with traditional and modern design, our portfolio is vast.
                With our ability to bring together interior designing concepts that compliment their architectural design,
                we have come to be known for our innovative and creative ideas. Our strengths lie in our quality and
                experience, expertise and craftsmanship, all delivered to you at the most affordable rices, in the
                shortest possible turnaround time. Our professional ethic combined with our dedicated workforce makes
                us a key player in designing, decorating, modifying, renovating and redefining any space. We use high
                end raw materials and top of the line equipment in all our projects. "</h5>
        </div>
    </div>
</div>

<div class="container-fluid projectflow pb-5">
    <div class="row h-100 pt-3 pb-5">
        <div class="w-100 my-auto">
            <h1 style="font-weight:bolder;color: #ffffff;" class="w-100 text-center mt-5">Design Process</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-3 py-3 process-cards mr-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/png1.png') }}" class="w-100 h-100"/>
                </div>
                <div class="col-md-8">
                    <h3>Client Meeting & Discussion</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 process-cards mx-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/png2.png') }}" class="w-100 h-100"/>
                </div>
                <div class="col-md-8">
                    <h3>Conceptual Design</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 process-cards ml-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/png3.png') }}" class="w-100 h-100"/>
                </div>
                <div class="col-md-8">
                    <h3>Cost Estimation & Agreement</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="col-md-3 py-3 process-cards mr-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/png4.png') }}" class="w-100 h-100"/>
                </div>
                <div class="col-md-8">
                    <h3>Design Visualization To Client</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 process-cards mx-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/png5.png') }}" class="w-100 h-100"/>
                </div>
                <div class="col-md-8">
                    <h3>On Time Work design and implementation</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 py-3 process-cards ml-5">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename = 'images/png6.png') }}" class="w-100 h-100"/>
                </div>
                <div class="col-md-8">
                    <h3>Work Completion & Billing</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="{{ url_for('static', filename='js/aboutus-page-script.js') }}"></script>
{% endblock %}