
{% extends 'template_base/ClientBase.html' %}
{% block page_title %} TESTIMONIALS {% endblock %}
{% set active_page = "testimonials" %}

{% block custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/testimonialspage/testimonial-page.css') }}">
{% endblock %}


{% block client_body %}
<div class="container-fluid testimonials-page-main py-5 pl-5 mb-3">
    <div class="pl-5">
        <h1 style="margin-top:150px;font-weight:bolder;color: #ffffff;">Testimonials</h1>
        <p style="color:#faba00; font-weight:bold !important;">
            <a href="{{ url_for('index') }}" style="color:#faba00; text-decoration: none;">Home</a> | <a href="#" style="color:#faba00; text-decoration: none;">Testimonials</a>
        </p>
    </div>
</div>

<div class="container py-5">
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators mt-5">
            <li data-target="#testimonials-carousel" data-slide-to="0" class="active" style="background-color: #2d2f31;"></li>
            <li data-target="#testimonials-carousel" data-slide-to="1"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!--<div class="col-md-12 testimonial-card-container d-flex justify-content-center">-->
                <div class="d-flex justify-content-center">
                    <div class="col-md-3">
                        <div class="text-center">
                            <img class="my-3" style="height:100px; width:100px; border-radius:50%;"
                                 src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="First slide">
                            <h4>Drake John</h4>
                            <p>lodwuqid wqdiyb wqdiu qwduuwd qwdub qwdubqwd qwdkubdq ouwdiubwd oubwdouwd qwdub dw
                                qwdou dwqdou dwqdouncxqon .wdqod qdwodu cqocj cwha the hewqwd </p>
                        </div>
                    </div>
                    <div class="col-md-3 mx-5">
                        <div class="text-center">
                            <img class="my-3" style="height:100px; width:100px; border-radius:50%;"
                                 src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="First slide">
                            <h4>Drake John</h4>
                            <p>lodwuqid wqdiyb wqdiu qwduuwd qwdub qwdubqwd qwdkubdq ouwdiubwd oubwdouwd qwdub dw
                                qwdou dwqdou dwqdouncxqon .wdqod f.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center">
                            <img class="my-3" style="height:100px; width:100px; border-radius:50%;"
                                 src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="First slide">
                            <h4>Drake John</h4>
                            <p>lodwuqid wqdiyb wqdiu qwduuwd qwdub qwdubqwd qwdkubdq ouwdiubwd oubwdouwd qwdub dw
                                qwdou dwqdou dwqdouncxqon .wdq.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!--<div class="col-md-12 testimonial-card-container d-flex justify-content-center">-->
                <div class="d-flex justify-content-center">
                    <div class="col-md-3">
                        <div class="text-center">
                            <img class="my-3" style="height:100px; width:100px; border-radius:50%;"
                                 src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="First slide">
                            <h4>Drake John</h4>
                            <p>lodwuqid wqdiyb wqdiu qwduuwd qwdub qwdubqwd qwdkubdq ouwdiubwd oubwdouwd qwdub dw
                                qwdou dwqdou dwqdouncxqon .wdqod .</p>
                        </div>
                    </div>
                    <div class="col-md-3 mx-5">
                        <div class="text-center">
                            <img class="my-3" style="height:100px; width:100px; border-radius:50%;"
                                 src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="First slide">
                            <h4>Drake John</h4>
                            <p>lodwuqid wqdiyb wqdiu qwduuwd qwdub qwdubqwd qwdkubdq ouwdiubwd oubwdouwd qwdub dw
                                qwdou dwqdou dwqdouncxqon .wdqod qdwodu cqocj cwha</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center">
                            <img class="my-3" style="height:100px; width:100px; border-radius:50%;"
                                 src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="First slide">
                            <h4>Drake John</h4>
                            <p>lodwuqid wqdiyb wqdiu qwduuwd qwdub qwdubqwd qwdkubdq ouwdiubwd oubwdouwd qwdub dw
                                qwdou dwqdou dwqdouncxqon .wdqod qdwodu cqocj.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 pt-4">
    <p class="w-100 text-center" style="color:#faba00; font-weight:bold;">REACH OUT TO US</p>
    <h1 class="w-100 text-center mb-5">CONTACT</h1>

    <div class="row d-flex justify-content-center">
        <div class="col-md-5 my-auto">
            <h4 class="mb-3"><i class='fa fa-location-arrow'></i> ABC Lane, XYZ City</h4>
            <h4 class="mb-3"><i class='fa fa-location-arrow'></i> Mangalore, Karnataka, pin: 575001</h4>
            <h4 class="mb-3"><i class='fa fa-envelope'></i> nsinteriors@gmail.com</h4>
            <h4 class="mb-3"><i class='fa fa-phone'></i> +91 958 985 9874</h4>
        </div>
        <div class="col-md-5">
            <div class="mx-auto">
                <form action="#">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control remove-border-glow" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control remove-border-glow" id="email">
                    </div>
                    <div class="form-group">
                        <label for="comment">Query</label>
                        <textarea class="form-control remove-border-glow" id="comment"></textarea>
                    </div>
                    <button type="submit" class="btn testimonial-comment-button remove-border-glow w-100">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block custom_scripts %}
<script src="{{ url_for('static', filename='js/testimonial-page-script.js') }}"></script>
{% endblock %}