
@media (min-width: 576px) {
    #nsi_home_carousel .carousel-inner .carousel-item{ height:100vh !important;}
    #nsi_home_carousel .carousel-inner .carousel-item img{ height:100vh !important;}
    /*.index-page-first-cover-height{ height: 100vh !important; }*/
    /*.top-margin-tracker{ margin-top: 25vh !important; }*/
    /*#cmp-name-main{font-size:1.5rem !important;}*/
    /*.index-page-first-div{min-height:60vh;}*/
}

@media (min-width: 768px) {
    #nsi_home_carousel .carousel-inner .carousel-item{ height:100vh !important;}
    #nsi_home_carousel .carousel-inner .carousel-item img{ height:100vh !important;}
    /*.index-page-first-cover-height{ height: 100vh !important; }*/
    /*.top-margin-tracker{ margin-top: 25vh !important; }*/
    /*.contact-form-button-style { color:white; font-weight:bold}*/
    /*#cmp-name-main{font-size:1.5rem !important;}*/
    /*.index-page-first-div{min-height:60vh;}*/
}


@media (min-width: 992px) {
    /*.index-page-first-cover-height{ height: 100vh !important; }*/
    /*.top-margin-tracker{ margin-top: 25vh !important; }*/
    #nsi_home_carousel .carousel-inner .carousel-item{ height:100vh !important;}
    #nsi_home_carousel .carousel-inner .carousel-item img{ height:100vh !important;}
}

/*@media (min-width: 1200px) { }*/

/*.service-text{*/
/*font-weight:bold;*/
/*color:white;*/
/*}*/

/*#cmp-name-main i{*/
/*font-style:normal;*/
/*transition: all 0.5s ease-in-out !important;*/
/*opacity: 1 !important;*/
/*}*/

/*#cmp-name-main.hidden i.ghost{*/
/*opacity: 0;*/
/*max-width: 0;*/
/*}*/

/*#gtIndexCrousel{*/
/*height:100vh;*/
/*}*/

/*#gtIndexCrousel .carousel-item{*/
/*height:100vh;*/
/*}*/

/*.welcome-message-index{*/
/*border:solid 2px transparent;*/
/*border-left-color: red;*/
/*}*/

/*.service-icons {*/
/*display: block;*/
/*width: 100%;*/
/*height: auto;*/
/*}*/

/*.overlay {*/
/*position: absolute;*/
/*top: 0;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*height: 100%;*/
/*width: 100%;*/
/*opacity: 0;*/
/*transition: .7s ease;*/
/*!*background-color: #008CBA;*!*/
/*!*background-color: white;*!*/
/*!*background-color: rgba(249, 250, 238, 1);*!*/
/*background-color: #df2319;*/
/*}*/

/*.service-items{*/
/*background-color: transparent;*/
/*cursor:default;*/
/*}*/

/*.service-items:hover .overlay {*/
/*opacity: 1;*/
/*}*/

/*.service-text {*/
/*!*color: black;*!*/
/*color: white;*/
/*font-size: 15px;*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*-webkit-transform: translate(-50%, -50%);*/
/*-ms-transform: translate(-50%, -50%);*/
/*transform: translate(-50%, -50%);*/
/*text-align: center;*/
/*}*/

.form-style-index{
    background-color: white;
    padding: 18px;
    margin-top:-95px;
}

.index-cards{
    background-color:#faba00cf;
    padding-top:10px;
}

.card-button{
    background-color: #2d2f31;
    color: white;
    border-radius: 0px;
}

.index-cards h3{
    text-align:center;
    color:white;
    font-weight:bold;
}

#details-tab{
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),  url('../../images/img5.jpg');
    background-size: cover;
    /*min-height:100vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.index-div-2-items {
    border-collapse: collapse;
}
.index-div-2-items td, .index-div-2-items th {
    border: 1px solid white;
}
.index-div-2-items th:first-child td,
.index-div-2-items tr:first-child td {
    border-top: 0;
}
.index-div-2-items tr:last-child td {
    border-bottom: 0;
}
.index-div-2-items tr td:first-child,
.index-div-2-items tr th:first-child {
    border-left: 0;
}
.index-div-2-items tr td:last-child,
.index-div-2-items tr th:last-child {
    border-right: 0;
}

.index-div-2-items tr td:hover{
    background-color:#faba00;
    -webkit-transition: background-color .35s ease-in;
    -moz-transition: background-color .35s ease-in;
    -o-transition: background-color .35s ease-in;
    transition: background-color .35s ease-in;
}

.index-item-holder{
    border: solid 2px white;
    border-radius:10px;
}

.comment-button{
    border-radius: 0px !important;
    background-color: #faba00;
    color: white;
    font-weight: bold;
}