.signup-page-bg{
    background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),  url('../../res/images/bg1.jpg');
    background-size: cover;
    /*min-height:100vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (min-width:800px){
.signup-page-bg{display:none !important;}
}
