.signup-main{
    background-image: url('../../res/images/signupbg.jpg');
    background-size: cover;
    /*min-height:100vh;*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width:800px){
.signup-page-bg{display:none !important;}
}
